.box {
  font-size: 16px;
  padding: .5em 1em;
  border-radius: 3px;
  box-shadow: 1px 1px 5px -1px rgba(117,117,117,1);
  border-left: 5px solid #c3c3c3;
  background-color: #f6f6f6;
}
.failed {
  color: #999999;
  border-left: initial;
}

.match {
  display: grid;
  grid-template-columns: 7em 5em 5em 8em;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "map      place      kills   headshots"
    "map      place      knocks  damage"
    "time     kill_place assists longest_kill";
  grid-auto-flow: column;
  justify-content: space-between;
  row-gap: .5em;
  column-gap: 5em;
}

.match.top10 {
  background-color: #dce4cf;
  border-left: 5px solid #6b8d40;
}
.match.top10 .placeValue {
  color: #5e8032;
  font-weight: 500;
}

.match.winner {
  background-color: #c9e8ff;
  border-left: 5px solid #0089ef;
}
.match.winner .placeValue {
  color: #0089ef;
  font-weight: 500;
}

.match.killTop5 {
  background-color: #f6e3a4;
  border-left: 5px solid #D4AF37;
}
.match.killTop5 .killPlaceValue {
  color: #c19c26;
  font-weight: 500;
}

.match .mapCell {
  grid-area: map;
}

.match .placeCell {
  grid-area: place;
  font-size: 24px;
}

.match .placeCell > .value {
  font-size: 22px;
}

.match > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 12px;
  color: #696969;
}

.value {
  font-size: 16px;
}

.zeroValue {
  color: #696969;
}